:root {
    --white: #FFFFFF;
    --light-gray: #E0E0E0;
    --primary: #264EB4;
    --primary-hover: #3A6AE3;
    --primary-active: #203e96;
    --background-main: #27282D;
    --background-dark: #212121;
    --red: #C6100F;

    --border: rgba(255, 255, 255, 0.05);

    --tablet: 1024px;
    --mobile: 768px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;

    /*background-image: url('~public/background.jpg');*/
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

@media (min-width: 320px) {
    body {
        background-image: url('~public/background.png');
    }
}
